<% title "Statistics" %>
<h2>Your statistics</h2>

<p>Total quiz played: <%= @total_quiz %></p>
<p>Favourite question set: <%= @fave_set.name %></p>
<p>Favourite question group: <%= @fave_set.question_group.name %></p>
